body {
    color: indigo;
    background-color: cornflowerblue;
    font-family: Quicksand, "Century Gothic", Helvetica, sans-serif; 
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    color: darkslateblue;
}

p#about {
    margin: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 70em;
    background-color: cadetblue;
    border-style: double;
    border-color: turquoise;
}

p.context {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-style: italic;
}

p.attribution {
    font-family: serif;
    font-size: smaller;
    font-style: italic;
    color: black;
}

div.history {
    font-size: large;
    text-decoration: dotted;
    width: 50em;
    padding: .5em;
    border-color: dodgerblue;
    border-style: groove;
}

/*Dropdown Menu */
.dropbtn {
    background-color: #0e42ba;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #061785;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #77b2c3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #50cfd8;}

.show {display: block;}
/*End dropdown menu*/

div.navbar {
    display: flex;
}

div.link {
    display: block;
    border: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    justify-content: center;
}

div.imagecarousel {
    display: flex;
    flex-wrap: wrap;
}

div.imagec img{
    justify-content: center;
    width: 350px;
    height: fit-content;
    padding: 0.5em;
    flex-basis: 50px;
}

a:link {
    color: aqua;
}

a:visited {
    color: darkorchid;
}

a:hover {
    color: khaki;
}

a:active {
    color: lightsalmon;
}

img#homeimg {
    margin-top: 2.5em;
    width: 500px;
}

img#presentimg {
    float: right;
    width: 500px;
    margin-left: 2em;
    margin-bottom: 2em;
}

img#pastimg {
    width: 500px;
    margin-top: 5em;
}

img#futureimg {
    width: 500px;
    margin-top: 5em;
} 

img#rateimg {
    width: 500px;
    margin-top: 5em;
}   